@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

.container {
  position: relative;
  height: 100%;
  border: 2px solid #ddd;
  border-radius: 1rem;
}

.table {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border: 2px solid #4f46e5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.8rem;
  color: #4f46e5;
  margin-top: -30px;
  margin-left: -30px
}
/* Posiciones de los círculos */
.table1 { top: 90%; left: 50%; }
.table2 { top: 85%; left: 10%; }
.table3 { top: 60%; left: 10%; }
.table4 { top: 60%; left: 36.6666%; }
.table5 { top: 60%; left: 63.3333%; }
.table6 { top: 60%; left: 90%; }
.table7 { top: 35%; left: 30%; }
.table8 { top: 35%; left: 10%; }
.table9 { top: 10%; left: 10%; }
.table10 { top: 10%; left: 36.6666%; }
.table11 { top: 10%; left: 63.3333%; }
.table12 { top: 35%; left: 50%; }
.table13 { top: 35%; left: 70%; }
.table14 { top: 10%; left: 90%; }
.table15 { top: 35%; left: 90%; }
.table16 { top: 85%; left: 90%; }
.table17 { top: 85%; left: 30%; }
.center {top: 50%; left: 50%; border: 2px solid black; border-radius: 50%;}

.chair {
  position: absolute;
  width: 1rem;
  height: 1rem;
}
.top { top: -50%; left: 50%; transform: translateX(-50%); }
.bottom { bottom: -50%; left: 50%; transform: translateX(-50%); }
.left { left: -50%; top: 50%; transform: translateY(-50%); }
.right { right: -50%; top: 50%; transform: translateY(-50%); }

@media (max-width: 768px) {
  .table {
    width: 2.5rem;
    height: 2.5rem;
  }
  .chair {
    width: 0.6rem;
    height: 0.6rem;
  }
}